body{
    height: 100vh
}
.header{
    display: inline-flex;
    list-style: none;
    height: 1in;
    /* width: 100%; */
}
.body{
    display: flex;
    height: 6in;
    /* width: 100%; */
}
.nav-item:hover, button:hover{
    border-radius: 5px;
    background-color: #466873;
    transition: 2s;
}