.navbar{
    position: sticky;
    top: 0;
}

.dashboard{
    position: relative;
    left: 0;
}
.dashboard-menu{
    height: 100vh;
    position: fixed;
    background-color: #466873;
    /* top: 2.5em; */
}
.dashboard-transactions{
    /* height: 100vh; */
    z-index: -1;
    position: relative;
    /* top: 2.5em; */
}
.nav-item:hover, button:hover{
    border-radius: 5px;
    background-color: #466873;
    transition: 2s;
}

