.navbar{
    position: sticky;
    top: 0;
}
.navbar-colored{
    background-color: #466873;
    border-bottom: 1px solid#243e48;
}
.navbar-colored .nav-item:hover{
    border-radius: 5px;
    background-color: #243e48;
    transition: 2s;
}
button{
    background-color: #243e48!important;
    border: 0;
}
button:hover{
    background-color: #466873!important;
    transition: 1s;
}
.dashboard{
    position: relative;
    left: 0;
}
.dashboard-menu{
    height: 100vh;
    position: fixed;
    background-color: #243e48;;
    /* top: 2.5em; */
}
.dashboard-transactions{
    /* height: 100vh; */
    /* z-index: -2; */
    position: relative;
    /* background-color: #466873; */
}
.nav-item:hover{
    border-radius: 5px;
    background-color: #243e48;;
    transition: 2s;
}
.dashboard-menu .nav-item:hover{
    background-color: #597b85;
    transition: 2s;
}
.image-container{
    background-color: #597b85;
    border-radius: 50%;
    height: 8em;
    width: 8em;
}
a{
    text-decoration: none;
}
#useravatar{
    border-radius: 50%;
    height: 6em;
    width: 6em;
}
.details{
    background-color: #597b85;
    border-bottom: 1px solid #466873;
}
profile{
    /* position: fixed; */
    height: inherit;
    /* background-color: #466873; */
}
.check-balance{
    height: inherit;
    /* background-color: #466873; */
    margin-bottom: 2em;
    /* margin-top: 10em; */
}
.send-money{
    height: inherit;
    /* background-color: #466873; */
    margin-bottom: 2em;
}
.buy-airtime{
    height: inherit;
    /* background-color: #466873; */
}
.withdraw{
    height: inherit;
    /* background-color: #466873; */
}
.get-statement{
    height: inherit;
    /* background-color: #466873; */
}