*{
    border: 1px solid red;
}
body{
    min-height: 20vh;
   
}
.header{

    list-style: none;
    /* height: 1in; */
    /* width: 100%; */
}
.body{
    display: flex;
    width: 100%;
}
.img-lady{
    border: 2px solid white;
    border-radius: 20px;
}
#cds{
    float: right !important; 
}