/* *{
    border: 1px solid red;
} */
body{
    min-height: 20vh;
    background: linear-gradient(rgba(45, 40, 103, 0.8), rgba(45, 40, 103, 1)), url(../images/KEY\ STONE.jpg);
    background-size: fixed;
        /* background-repeat: no-repeat; */
    background-size: cover;
   
}
.header{

    list-style: none;
    /* height: 1in; */
    /* width: 100%; */
}
.body{
    display: flex;
    width: 100%;
}
.img-lady{
    border: 2px solid white;
    border-radius: 20px;
}
#cds{
    float: right !important; 
}
li {
    list-style-type: none;
}
@media all and (max-width:700px){
    .cse{
  display: none;
  visibility: hidden;
  background: none;
    }
    .cs{
        display: none;
        visibility: hidden;
        background: none;
      }
    }

    a:hover {
        background-color: #1b223c;
        border-radius: 50px;
      }